<div class="container">
    <div class="row">
        <div class="col-sm-4">
            {{#each burgers}}
            {{#unless devoured}}
            {{burger_name}}
            <button class="devoured"  data-id={{id}}>devoured</button>
            <br>
            {{/unless}}
            {{/each}}
        </div>
        <div class="col-sm-4">
            <input id="burgerName"/>
            <button id="addBurger">Add New Burger</button>
        </div>
        <div class="col-sm-4">
            {{#each burgers}}
            {{#if devoured}}
            {{burger_name}}
            <br>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>